html {
  font-size: 16px;
}

.logo-style {
  height: 65vh;
  opacity: .65;
}

.info-style {
  margin: auto;
  width: 75vw;
}

.carousel-style{
  height: 100vh;
}

.bg-dark {
  background-color: #222;
  color: #9d9d9d;
}

footer {
  padding:20px;
  margin-top:20px;
}

.navbar-brand {
  display:flex;
  align-items:center;
}

/**
 * For Bootstrap's LG size and up
 */
@media(min-width:992px) {
.navbar-brand img {
  height:60px;
  margin-top:20px;
}
}
/**
 * For Bootstrap's XS and SM sizes
 */
@media(max-width:991px) {
  .navbar-brand img{
    height:50px;
    padding:3px;
  }
}

/**
 * Hide min and max labels on the availability sliders
 */
.input-range__label--max, .input-range__label--min {
  display: none;
}
.input-range {
  height:2rem;
}
.remove-slider {
  cursor:pointer;
  margin-top:7px;
}
.input-range__track > .input-range__track,
.input-range__track > .input-range__slider-container > .input-range__slider {
  -webkit-transition: background-color 250ms linear;
  -ms-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.slider-synced > div > .input-range > .input-range__track > .input-range__track,
.slider-synced > div > .input-range > .input-range__track > .input-range__slider-container > .input-range__slider {
  background: rgb(68, 157, 68);
}

/**
 * Editor and news article styles
 */
.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius:0px 0px 5px 5px;
}
.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 14px;
  margin-top: 10px;
}
.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}
.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}
.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}
.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}
.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}
.RichEditor-editor .public-DraftStyleDefault-pre > pre{
  background-color: rgba(0, 0, 0, 0);
  border:none;
  padding:0px;
  margin:0px;
}
.RichEditor-controls {
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}
.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}
.RichEditor-activeButton {
  color: #5890ff;
}
.title-editor {
  width:100%;
  font-size:36px;
  border: solid 1px #ddd;
  border-bottom:none;
  border-radius:5px 5px 0px 0px;
  padding: 3px 15px;
}
.news-article {
  padding:10px;
  position:relative;
}
.news-article .author-information {
  font-size: 13px;
}
.news-article .news-article-controls {
  position:absolute;
  top:5px;
  right:5px;
}

/**
* Style inline forms with better margins
*/
.form-inline * {
    margin-right: 10px;
}
.tab-content{
    padding-top: 15px;
}
/**
* Style sortable table headers
*/
th.sortable:hover {
  background-color: rgb(205, 205, 205);
  cursor: pointer;
}