html {
  font-size: 16px;
}

.bg-dark {
  background-color: #222;
  color: #9d9d9d;
}

footer {
  padding:20px;
  margin-top:20px;
}

.navbar-brand {
  display:flex;
  align-items:center;
}

/**
 * For Bootstrap's LG size and up
 */
@media(min-width:992px) {
.navbar-brand img {
  height:60px;
  margin-top:20px;
}
}
/**
 * For Bootstrap's XS and SM sizes
 */
@media(max-width:991px) {
  .navbar-brand img{
    height:50px;
    padding:3px;
  }
}

/**
 * Hide min and max labels on the availability sliders
 */
.input-range__label--max, .input-range__label--min {
  display: none;
}
.input-range {
  height:2rem;
}
.remove-slider {
  cursor:pointer;
  margin-top:7px;
}